# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
# Use a package of configuration called an orb.
# Orchestrate or schedule a set of jobs
jobs:
  build:
    docker:
      - image: circleci/python:3.6.4
    steps:
      - checkout
      - setup_remote_docker:
          version: 19.03.13
      - run:
          name: Get Pip
          command: curl https://bootstrap.pypa.io/get-pip.py -o ./get-pip.py && python3 ./get-pip.py
      - run:
          name: Install Twine
          command: pip3 install twine
      - run:
          name: Init .pypirc
          command: echo -e "[pypi]" >> ~/.pypirc &&  echo -e "username = $PYPI_USER" >> ~/.pypirc && echo -e "password = $PYPI_PASSWORD" >> ~/.pypirc
      - run:
          name: Build Wheel
          command: python3 setup.py sdist bdist_wheel
      - run:
          name: Publish to PYPI
          command: 
            twine upload dist/*
workflows:
  version: 2
  build:
    jobs:
      - build
